body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-link {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

.font-headers {
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
}

.font-goal-task {
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

.font-welcome {
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
}
